<!DOCTYPE html>
<html>
  <head>
    <title>Demo web application</title>
  </head>
  <body>
    <div>
      Please sign up
      <form action="/signup" method="POST">
        <table>
          <tr>
            <td>
              <input type="text" name="firstName" placeholder="First name">
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="lastName" placeholder="Last name">
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="email" placeholder="Email">
            </td>
          </tr>
          <tr>
            <td>
              <input type="password" name="password" placeholder="Password">
            </td>
          </tr>
          <tr>
            <td>
              <input type="password" name="passwordRepeat" placeholder="Repeat password">
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="Ok" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
